# Big Mac Data Omega
## Your Task
Now it's time to put it all together and complete an activity which demonstrates what you've learned so far. You may use several code windows if this helps.

1) **Read** in the *big_mac_source_data_v2.csv* file and store it in a dataframe.

2) **Remove** the *iso_a3*, *GDP_dollar* and *GDP_local* columns.

3) **Remove** all rows **except** for *Australia*, *Britan*, *France*, *New Zealand* and *United States*. Hint: [Drop All Rows Except](https://www.statology.org/pandas-drop-all-rows-except/).

4) **Create** a new column which calculates the **US dollar price** by multipling *local_price* by *dollar_ex* [How to mulitply two columns in Pandas](https://www.statology.org/pandas-multiply-two-columns/). If you get a warning due to setting a value on copy of a slice, use: 

    `name_of_your_dataframe.loc[:, 'yournewcolumnname'] = ...` 

5) **Calculate** the **mean** for each country in USD. You may need to first isolate each country [Select rows from Dataframe based on Column Values](https://sentry.io/answers/select-rows-from-a-python-pandas-dataframe-based-on-column-values/)

6) Use **matplotlib** to plot a **comparison** of each country's average - look at [matplotlib Bars](https://www.w3schools.com/python/matplotlib_bars.asp)

7) Do step 4 and 5 again for **median**.

8) **Extension:** See if you can simplify step 5-7 into the minimum amount of code possible (use *for loops* and *functions* where possible)

In [17]:
import matplotlib as plt
import pandas as pd

big_mac_df=pd.read_csv("data/big_mac_source_data_v2.csv")
big_mac_df.drop(columns=['GDP_dollar','GDP_local','iso_a3'])
new=big_mac_df.query("name == 'Australia' | name == 'Britan' | name == 'France'")

# Add the new column using loc
big_mac_df["USD dollar price"] = big_mac_df.local_price*big_mac_df.dollar_ex
big_mac_df

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date,USD dollar price
0,Argentina,ARG,ARS,2.50,1.00000,8709.072,8.709072e+03,2000-04-01,2.500000e+00
1,Australia,AUS,AUD,2.59,1.68000,21762.397,3.372292e+04,2000-04-01,4.351200e+00
2,Brazil,BRA,BRL,2.95,1.79000,3501.438,6.351375e+03,2000-04-01,5.280500e+00
3,Canada,CAN,CAD,2.85,1.47000,22340.553,3.319147e+04,2000-04-01,4.189500e+00
4,Switzerland,CHE,CHF,5.90,1.70000,41768.021,6.274204e+04,2000-04-01,1.003000e+01
...,...,...,...,...,...,...,...,...,...
2083,Ukraine,UKR,UAH,105.00,36.93145,4348.570,1.406445e+05,2023-07-01,3.877802e+03
2084,Uruguay,URY,UYU,259.00,37.76500,20221.940,8.324901e+05,2023-07-01,9.781135e+03
2085,United States,USA,USD,5.58,1.00000,76348.494,7.634849e+04,2023-07-01,5.580000e+00
2086,Vietnam,VNM,VND,74000.00,23687.50000,4086.519,9.564814e+07,2023-07-01,1.752875e+09
2087,South Africa,ZAF,ZAR,49.90,17.78375,6694.358,1.095364e+05,2023-07-01,8.874091e+02